{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<style>
    form label{
        color: #E0DDCF;
    }
    form textarea{
        height:50px;
    }
    #formHolder{
        border-style: solid;
        border-color: #F44336;
        border-radius: 10px;
    }
</style>
<div class="mx-auto bg-dark p-2 col-10 col-sm-10 col-md-6" id="formHolder">
    <p class="h4 mb-4 text-center light-text">Send us a message<br>and we'll get back to you shortly</p>
    <form class="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button class="btn mx-auto" type="submit">Send</button>
    </form>
</div> 

{% endblock %}