{% extends 'base.html' %}
{% load ratings %}

{% block body %}
    <style>
    .avatar {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    </style>

    <div class="bg-dark p-2 border border-danger"> 
        {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" class="">
        {% elif True %}
            <figure class="image is-128x128 text-center">
                <img class="rounded-circle" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
        {% endif %}
        <h5 class="text-white text-center">{{ person }}</h5>
        <br>
        <!--Shown for other users-->
        {%  for i in person.userprofile.all %}       
            {% if forloop.last %}
                <p class="text-white"> <strong class="text-danger">Contact:</strong>  {{ i.contact }}</p>
                <p class="text-white"> <strong class="text-danger">Bio:</strong>  {{ i.bio }}</p>
            {% endif %}
        {% endfor %}

        <!--Shown for logged in users-->
        {% if person == request.user %}
            <a href="{% url 'accounts:editprofile' %}" class="btn btn-outline-danger">Edit profile</a>
        {% endif %}
    </div>
    <br>

    <h3 class="bg-dark text-center p-1 border border-danger">Posts</h3>
    {% if services or vacancies or roomates %}
        {% if services %}
            {% for s in services %}
                <div class="card bg-dark text-white border border-danger">
                    <div class="card-header bg-danger">
                        {{ s }} offered by <a href="{% url 'accounts:profile' s.user.id %}">{{ s.user }}</a></p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Description: {{ s.desc_snippet }}</p>
                        {% if person == request.user %}
                            <a href="{% url 'core:togServ' s.user.id s.createDate %}" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                </svg>
                                : {% if s.visible == True %}On{% else %}Off{% endif %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% ratings s %}
                    </div>
                </div>
                <br>
                <br>
            {% endfor %}
        {% endif %}
        {% if vacancies %}
            {% for p in vacancies %}
                <div class="card text-white bg-dark mb-3 my-1 border border-danger">
                    <div class="card-header bg-danger">
                        Vacancy offered by <a href="{% url 'accounts:profile' p.postby.id%}">{{ p.postby }}</a></p>
                    </div>
                    {% if p.postImage %}
                        <img class="card-img-top" src="{{p.postImage.url}}" alt="Card image cap">
                    {% else %}
                        <p class="card-text text-danger" >No image attached</p>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">decription : {{ p.postText }}</p>
                        <p class="card-text">area : {{ p.area }}</p>
                        <p class="card-text">plot number : {{ p.plot }}</p>
                        <p class="card-text">price : {{ p.price }}</p>
                        {% if person == request.user %}
                            <a href="{% url 'core:togVac' p.postby.id p.createDate %}" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                </svg>
                                : {% if p.visible == True %}On{% else %}Off{% endif %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% ratings p %}
                    </div>
                </div>
                <br>
                <br>
            {% endfor %}
        {% endif %}
        {% if roomates %}
            {% for p in roomates %}
                <div class="card text-white bg-dark mb-3 my-1 border border-danger">
                    <div class="card-header bg-danger">
                        <a href="{% url 'accounts:profile' p.postby.id%}">{{ p.postby }}</a> is looking for a roomate
                    </div>
                    {% if p.postImage %}
                        <img class="card-img-top" src="{{p.postImage.url}}" alt="Card image cap">
                    {% else %}
                        <p class="card-text text-danger" >No image attached</p>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">decription : {{ p.postText }}</p>
                        <p class="card-text">area : {{ p.area }}</p>
                        <p class="card-text">plot number : {{ p.plot }}</p>
                        <p class="card-text">price : {{ p.price }}</p>
                        <p class="card-text">gender of roomate : {{ p.gender }}</p>
                        <p class="card-text">age of roomate : {{ p.age }}</p>
                        <p class="card-text">contact : {{ p.contactnum }}</p>
                    </div>
                </div>
                <br>
                <br>
            {% endfor %}
        {% endif %}
    {% else %}
        <div class="card bg-dark text-white m-1 border border-danger">
          <div class="card-header bg-danger">Error</div>
          <div class="card-body">
            <p class="card-title">No posts by user</p>
          </div>
        </div>
    {% endif %}
{% endblock %}