{% extends 'base.html' %}
{% load static %}
{% block body %}
    <style>
      #imgHolder{
          height: 400px;        
          overflow: hidden;
          position: relative;          
      }
      #divOverlay{
          position: absolute;
          top: 10%;
          left: 50px;
          color: white;
          padding-left: 10px;
          padding-right: 10px;
          border-color: #292b2c;
          border-style: solid;
          border-radius: 1em;
      }
      #divOverlay h1{
        font-size: 8vw;
      }
      #divOverlay p{
        font-size: 4vw;
      }
      .lefty{
        transform: translate(-350px,0);
      }
    </style>
    <!--Welcome-->
    <div id="imgHolder" class="col-12">
      <img src="{% static 'bar1.png' %}" alt="" class="lefty">    
      <div class="p-3 mb-2" id="divOverlay">
        <h1 class="light-text"><u>Welcome!</u></h1>
        <p class="light-text">to Guild Systems</p>
      </div>
    </div>

    <!--Motto-->
    <div class="text-center light-text">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <p style="font-size: 22px;">We strive to give you the best with attention to detail and ever changing to please your needs</p>
      </div>
    </div>

    <!--What we offer-->
    <div class="container text-center light-text">
      <div class="row">
        <div class="col-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
            <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
          </svg>
          <hr style="width: 80%;">
          <u style="font-size: 22px;"><b>Mobile solutions</b></u> 
          <p class="light-text">Interactive mobile apps delivering your product to users on the go</p>       
        </div>

        <div class="col-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-laptop-fill" viewBox="0 0 16 16">
            <path d="M2.5 2A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
          </svg>
          <hr style="width: 80%;">
          <u style="font-size: 22px;"><b>Web solutions</b></u> 
          <p class="light-text">Reach to the far ends of the world with a responsive website</p>
        </div>

        <div class="col-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-question" viewBox="0 0 16 16">
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
          </svg>
          <hr style="width: 80%;">
          <u style="font-size: 22px;"><b>IDK</b></u> 
          <p class="light-text">Yes</p>
        </div>
      </div>
    </div>

    

    <!-- 
    <div id="imgHolder" class="col-12">
      <img src="{% static 'bar1.png' %}" alt="" class="lefty">    
      <div class="p-3 mb-2 bg-dark" id="divOverlay">
        <h3 class="text"><u>Guild Systems?</u></h3>
        <p class="text">
          We are a 
        </p>
      </div>
    </div>

    <br>

    
    <div id="imgHolder" class="col-12">
      <img src="{% static 'bar1.png' %}" alt="" id="rotate">    
      <div class="p-3 mb-2 bg-dark" id="divOverlay1">
        <h3 class="text"><u>M&A</u></h3>
        <p class="text">
          Mission &
          Vision
        </p>
      </div>
    </div>

    <br>
  
    
    <div id="imgHolder" class="col-12">
      <img src="{% static 'bar1.png' %}" alt="" class="lefty">    
      <div class="p-3 mb-2 bg-dark" id="divOverlay">
        <h3 class="text"><u>Founders</u></h3>
        <p class="text">
          Frank Khoza &
          Uliyan Masuku
        </p>
      </div>
    </div> -->
{% endblock %}